<nav id="SNav" [hidden]="vis" class="w3-sidenav w3-white w3-card-2  w3-large" >
  <a href="#" id="navX"  (click)="hide()" class="w3-closenav w3-xlarge w3-right-align">&times;</a>
  <a  (click)="hide()" routerLink="/welcome" routerLinkActive="active">Home</a>
  <a  (click)="hide()" routerLink="/lookup" routerLinkActive="active">Lookup Building</a>
</nav>

<header  class="w3-container w3-xlarge w3-text-shadow w3-text-white w3-theme-d5">
  <span id="menu" (click)="show()" class="w3-opennav">&#9776;</span>
  <span class="w3-right-align">JDMDL FES APP</span>
</header>
