<div  class="w3-row w3-container w3-content" >

	<h2 class="w3-xxxlarge">Location</h2>


		<table class="w3-table-all w3-large w3-white">
			<tr>
				<th colspan="2">BLDG {{msg._id}}</th>
			</tr>
			<tr>
				<td>GRID</td>
				<td>{{msg.grid}}</td>
			</tr>
			<tr>
				<td>Sector & Block</td>
				<td>{{msg.sb}}</td>
			</tr>
			<tr>
				<td colspan="2">{{msg.desc}}</td>
			</tr>
			<tr>
				<td colspan="2">{{msg.u}}</td>
			</tr>
			<tr>
				<td colspan="2">{{msg.info}}</td>
			</tr>
			<tr>
				<td>East</td>
				<td>{{msg.e}}</td>
			</tr>
			<tr>
				<td>North</td>
				<td>{{msg.n}}</td>
			</tr>
		</table>
	</div>
